* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d35400;
}

.login {
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
}

.logo {
    width: 80%;
    margin: 0 auto;
}

.logo img {
    width: 100%;
}

form {
    width: 80%;
    margin: 0 auto;
}

.input-text {
    margin-bottom: 1em;
}

.input-text label {
    display: block;
    color: #7f8c8d;
    margin-bottom: 0.5em;
}

.input-text input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #7f8c8d;
    padding: 1em;
}

.input-checkbox label {
    margin-left: 5px;
}

.submit-btn {
    display: flex;
    width: 100%;
    margin: 1em 0 2em;
}

.submit-btn button {
    padding: 1em 5em;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #d35400;
    color: #fff;
    cursor: pointer;
}

.err-txt {
    color: red;
}