* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #E5E5E5;
}

.wrapper {
    display: flex;
    position: relative;
}

.sidebar {
    width: 300px;
    height: 100%;
    background: #837B77;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
    position: fixed;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 200px;
    background: #6D460B;
    text-align: center;
}

.logo i {
    padding-top: 30px;
    font-size: 100px;
}

.logo p {
    font-size: 20px;
}

.sidebar ul {
    margin: 200px 0 0 -7px;

}